body{
  margin: 0;
}

nav{
  width: 100%;
  float: left;
}

.menu{
  margin: 0;
  padding: 8px;
  height: 30px;
  background-color: blueviolet;
}

.menu li{
  display: inline;

}

.button{
  font-family: Arial;
  font-size: 0.5cm;
  font-style: none;
  color: white;
  padding: 8px;
  text-decoration: none;
}

.button:link{
  background-color: blueviolet;
  color: white;
}

.button:hover{
  background-color: violet;

}



.dropbtn {
  background-color: blueviolet;
  color: white;
  padding: 8px;
  font-size: 0.5cm;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}



.dropdown:hover .dropbtn {
  background-color: violet;
}




.dropbtn-2 {
  background-color: white;
  color: white;
  padding: 8px;
  
  border: none;
  cursor: pointer;
}


.dropdown-2 {
  position: relative;
  display: inline-block;
}


.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content-2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content-2 a:hover {background-color: #f1f1f1}


.dropdown-2:hover .dropdown-content-2 {
  display: block;
}



.dropdown-2:hover .dropbtn {
  background-color: white;
}